.wrapper{
  width:100%;
  height:900px;
  padding-top:50px;
  background-color: white;
  &__movies{
    margin: 0 auto;
    &__box{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 20px;
      &__name{
        display: flex;
        &__ti{
          font-weight: bold;
        }
        &__title{
        }
      }
      &__nick{
        display: flex;
        &__ti{
          font-weight: bold;
        }
        &__user{
        }
      }
    }
  }
}
.item-link{
  text-decoration: none;
  color:black;
}
// ここ追加しました20200828
.slide{     
  display:none;
  position: absolute;
  z-index: 1;
  background-color: azure;
  font-size: 15px;
}